
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">BookMyHotel</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/hotels" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser){ %>
                    <a href="/login" class="nav-item nav-link">Log in</a>
                    <a href="/register" class="nav-item nav-link">Sign up</a>
                <% }else{ %>
                    <a href="/logout" class="nav-item nav-link">Log out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>

