<% layout("layout/boilerplate.ejs") -%>
    <div class="row m-3">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <form action="/register" method="post" novalidate class="d-flex flex-column needs-validation">
                <h3 class="text-center">Register</h3>
                <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" name="email" id="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <div class="mb-2">
                    <label for="name" class="form-label">Full Name</label>
                    <input class="form-control" type="text" name="name" id="name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input class="form-control" type="text" name="username" id="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <button class="btn btn-success mt-2">Signup</button>
            </form>
        </div>
    </div>