<% layout("layout/boilerplate") -%>

    <div class="row">
        <div class="col-6 offset-3">
            <form action="/hotels" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <h3 class="text-center">New Hotel</h3>
                <div class="mb-2">
                    <label for="name" class="form-label">Hotel Name</label>
                    <input class="form-control" type="text" name="hotel[hotel_name]" id="name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <div class="mb-2">
                    <label for="address" class="form-label">Address</label>
                    <input class="form-control" type="text" name="hotel[address]" id="address" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <div class="mb-2">
                    <label for="photos" class="form-label">Upload Photos</label>
                    <input class="form-control" type="file" id="photos" name="photos" multiple>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <div class="mb-2">
                    <label for="overview" class="form-label">Overview</label>
                    <textarea class="form-control" name="hotel[overview]" id="overview" style="height: 100px" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        required!
                    </div>
                </div>
                <div class="d-flex  justify-content-evenly">
                    <button class="btn btn-success w-100 m-2">submit</button>
                    <a href="/hotels" class="btn btn-secondary w-100 m-2">back</a>
                </div>
            </form>
        </div>
    </div>
    
